
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
               <div class="p-profile">

               </div>
            </div>
            <div class="col-sm-7 p-rgt-sec" >
                <div>
                    <span class="p-tag ">Programmer</span>
                    <h1 class="mt-4" class="bg-light">Hi, am</h1><br/>
                    <h1 class="bg-light">Ugbem Emmanuel</h1>
                    <p class="p-des mt-3 ">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reaque provident adipisci natus quibusdam optio nesciunt quisquam consequatur nisi sit, totam, deleniti ea esse earum facilis aspernatur laboriosam expedita quod ut ipsum. Voluptas, impedit similique saepe eos voluptate quia ab aliquam molestias laboriosam ratione nulla, omnis voluptatibus eius eaque sunt tempore hic asperiores?
                    </p>
                    <a href="" class="p-readmore ">Read More <i class="bi bi-play ml-2" width="20px" style="color: black;"></i></a>
                </div>
                <div>  
                    <h5>Subscribe to our Newsletters</h5>
                    <form action="" class="form-inline" autocomplete="off">
                        <div class="form-group">   
                            <input type="email" class="form-subscribe" placeholder="Email address" autocomplete="of"/>
                             <button class="btn btn-warning">Subscribe</button>
                         </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
</section>