
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
               <div class="p-profile">

               </div>
            </div>
            <div class="col-sm-7 p-rgt-sec" >
                <div>
                    <span class="p-tag ">Programmer</span><br/><br/><br/>
                    <span class="mt-10">Hi, am</span><br/>
                    <h1 class="">Ugbem Emmanuel</h1>
                    <p class="p-des mt-3 ">
                     I am native of <a>BITOL WANIKADE</a> in <b>Yala Local Government Area of <a>cross river state</a>,
                         Born into the family of <b>ETEP UGBEM</b>,
                         I'm a graduate of computer science <a>Fidei polytechnic </a><b>Gboko Benue State</b>,
                         am java developer/web application developer.
                         A self movited individual.Young and talented 
                     </b> 
                    </p>
                    <a href="" class="p-readmore ">Read More <i class="bi bi-play ml-2" width="20px" style="color: black;"></i></a>
                </div>
                <div>  
                    <h5>Subscribe to our Newsletters</h5>
                    <form action="" class="form-inline" autocomplete="off">
                        <div class="form-group">   
                            <input type="email" class="form-subscribe" placeholder="Email address" autocomplete="of"/>
                             <button class="btn btn-warning">Subscribe</button>
                         </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
</section>